<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>connectSeek</title>
    <link rel="stylesheet" type="text/css" href="/static/css/project.css"/>
  </head>
  <body>
    <!-- <div>
        <img src="bg.jpg" alt="">
    </div> -->

  {% comment %} Added by Burhan Kapdawala {% endcomment %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
        <strong>Message: </strong>{{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}


    <div class="wrapper">
      <div class="title-text">
        <div class="title login">Login Form</div>
        <div class="title signup">Signup Form</div>
      </div>
      <div class="form-container">
        <div class="slide-controls">
          <input type="radio" name="slide" id="login" checked />
          <input type="radio" name="slide" id="signup" />
          <label for="login" class="slide login">Login</label>
          <label for="signup" class="slide signup">Signup</label>
          <div class="slider-tab"></div>
        </div>
        <div class="form-inner">
          <form action="/login/" class="login" method="post"> {% csrf_token %}
            <div class="field">
              <input type="text" placeholder="Username" name="loginusername" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="loginpassword" required />
            </div>
            <div class="pass-link">
              <a href="#">Forgot password?</a>
            </div>
            <div class="field btn">
              <a href="/login/"><button class="btn-layer">Login</button></a>
            </div>
            <div class="signup-link">
              Not a member? <a href="">Signup now</a>
            </div>
          </form>
          <form action="/signup/" class="signup" method="post"> {% csrf_token %}
            <div class="field">
              <input type="text" placeholder="username" name="username" required />
            </div>
            <div class="field">
              <input type="text" placeholder="Email Address" name="email" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Password" name="pass1" required />
            </div>
            <div class="field">
              <input type="password" placeholder="Confirm password" name="pass2" required />
            </div>
            <div class="field btn">
              <div class="btn-layer"></div>
              <input type="submit" value="Signup" />
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      const loginText = document.querySelector(".title-text .login");
      const loginForm = document.querySelector("form.login");
      const loginBtn = document.querySelector("label.login");
      const signupBtn = document.querySelector("label.signup");
      const signupLink = document.querySelector("form .signup-link a");
      signupBtn.onclick = () => {
        loginForm.style.marginLeft = "-50%";
        loginText.style.marginLeft = "-50%";
      };
      loginBtn.onclick = () => {
        loginForm.style.marginLeft = "0%";
        loginText.style.marginLeft = "0%";
      };
      signupLink.onclick = () => {
        signupBtn.click();
        return false;
      };
    </script>
  </body>
</html>
